# Importar Pandas

In [39]:
import pandas as pd

# Crear una Serie

In [89]:
# Crea una Serie de los numeros 10, 20 and 30.
dicx1= {
    "numeros":[10,20,30]
    }
serie = pd.DataFrame(dicx1)

In [90]:
serie

   numeros
0       10
1       20
2       30

In [91]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'

dicx2 = {
    "objetos":["rojo","verde","azul"]
    }
objetos = pd.DataFrame(dicx2)

In [92]:
objetos

  objetos
0    rojo
1   verde
2    azul

# Crear un Dataframe

In [163]:
# Crea un dataframe vacío llamado 'df'

df = pd.DataFrame()

In [164]:
df

Empty DataFrame
Columns: []
Index: []

In [95]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
df = df.append(pd.DataFrame(serie))

In [96]:
df

   numeros
0       10
1       20
2       30

In [97]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
df["objetos"] = objetos

In [98]:
df

   numeros objetos
0       10    rojo
1       20   verde
2       30    azul

# Leer un dataframe

In [151]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"

avengers = pd.read_csv("./data/pandas/avengers.csv")

In [152]:
avengers

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...
...,...,...,...,...,...,...,...
168,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,2013,NaN
169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,2014,NaN
170,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,2014,NaN
171,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,2014,NaN
172,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,2015,NaN

# Inspeccionar un dataframe

In [153]:
# Muestra las primeras 5 filas del DataFrame.

avengers.iloc[0:5]

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...

In [154]:
# Muestra las primeras 10 filas del DataFrame. 
avengers.iloc[0:10]

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...
5,http://marvel.wikia.com/Richard_Jones_(Earth-616),Richard Milhouse Jones,612,YES,MALE,1963,NaN
6,http://marvel.wikia.com/Steven_Rogers_(Earth-616),Steven Rogers,3458,YES,MALE,1964,Dies at the end of Civil War. Later comes back.
7,http://marvel.wikia.com/Clint_Barton_(Earth-616),Clinton Francis Barton,1456,YES,MALE,1965,Dies in exploding Kree ship in Averngers Vol. ...
8,http://marvel.wikia.com/Pietro_Maximoff_(Earth...,Pietro Maximoff,769,YES,MALE,1965,Dies in House of M Vol 1 Issue 7. Later comes ...
9,http://marvel.wikia.com/Wanda_Maximoff_(Earth-...,Wanda Maximoff,1214,YES,FEMALE,1965,Dies in Uncanny_Avengers_Vol_1_14. Later comes...

In [155]:
# Muestra las últimas 5 filas del DataFrame.

avengers.iloc[168:173]

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
168,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,2013,NaN
169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,2014,NaN
170,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,2014,NaN
171,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,2014,NaN
172,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,2015,NaN

# Tamaño del DataFrame

In [156]:
# Muestra el tamaño del DataFrame
len(avengers)

173

# Data types en un DataFrame

In [157]:
# Muestra los data types del dataframe
type(avengers)

pandas.core.frame.DataFrame

# Editar el indice (index)

In [158]:
# Cambia el indice a la columna "fecha_inicio".

avengers = avengers.set_index("fecha_inicio")

In [159]:
avengers.index

Int64Index([1963, 1963, 1963, 1963, 1963, 1963, 1964, 1965, 1965, 1965,
            ...
            2013, 2013, 2013, 2013, 2013, 2013, 2014, 2014, 2014, 2015],
           dtype='int64', name='fecha_inicio', length=173)

# Ordenar el indice

In [160]:
# Ordena el índice de forma descendiente
avengers_sorted = avengers.sort_values(by=["fecha_inicio"], ascending=False)
avengers_sorted

,URL,nombre,n_apariciones,actual,genero,Notes
fecha_inicio,,,,,,
2015,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,NaN
2015,http://marvel.wikia.com/Sam_Alexander_(Earth-6...,Sam Alexander,78,YES,MALE,NaN
2014,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,NaN
2014,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,NaN
2014,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,NaN
...,...,...,...,...,...,...
1900,http://marvel.wikia.com/Emery_Schaub_(Earth-616)#,Emery Schaub,26,YES,MALE,NaN
1900,http://marvel.wikia.com/James_Santini_(Earth-6...,James Santini,40,YES,MALE,NaN
1900,http://marvel.wikia.com/Elvin_Haliday_(Earth-6...,Elvin Haliday,158,NO,MALE,NaN
1900,http://marvel.wikia.com/William_Baker_(Earth-6...,William Baker,355,NO,MALE,Died in Identity_Disc_Vol_1_1. Later was revea...
1900,http://marvel.wikia.com/Julie_Power_(Earth-616)#,Julie Power,153,YES,FEMALE,NaN

# Resetear el indice

In [161]:
# Resetea el índice
avengers = avengers.reset_index(drop=False)

In [162]:
avengers

,fecha_inicio,URL,nombre,n_apariciones,actual,genero,Notes
0,1963,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,1963,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,Dies in Secret Invasion V1:I8. Actually was se...
2,1963,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,"Death: ""Later while under the influence of Imm..."
3,1963,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,"Dies in Ghosts of the Future arc. However ""he ..."
4,1963,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,Dies in Fear Itself brought back because that'...
...,...,...,...,...,...,...,...
168,2013,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,NaN
169,2014,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,NaN
170,2014,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,NaN
171,2014,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,NaN
172,2015,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,NaN